<div class="row">
    <div class="large-12 columns">
        <h1>Authors</h1>
        {{#each authors}}
            <h4>{{name}}</h4>
            <h4 class="subheader">{{email}}</h4>
            <h6>Related Posts:</h6>
            <ul>
                {{#each posts}}
                    <li>{{title}}</li>
                {{/each}}
            </ul>
            <hr>
        {{/each}}
        </ul>
    </div>
</div>