<div class="row">
    <div class="large-12 columns">
        <h1>Posts</h1>
        {{#each posts}}
            <h4>{{title}}</h4>
            <p>{{body}}</p>
            <h6>Authored By: {{author.name}}</h6>
            <hr>
        {{/each}}
        </ul>
    </div>
</div>